<div id="nav">
   <h1>Campus Recruitment System</h1> 
   </div>

  <div id="right">
    <button class="btn btn-success btn-sm center-block" routerLink="/adminlogin">Admin</button>
    <button class="btn btn-success btn-sm center-block" routerLink="/studentlogin">Student login</button>
    <button class="btn btn-success btn-sm center-block" routerLink="/companylogin">Company login</button>
    <button class="btn btn-success btn-sm center-block" routerLink="/signup">signup</button>

  </div>
<!-- <div class="div">
        <h1> Campus Recruitment System</h1>
</div> -->
