body{
    background-color: pink;
}
table{
    background-color: peru;
}
h1{
    font-size: 50px;
    text-align: center;
       color: white;
text-shadow: 2px 2px 5px black;
}
button{
    background-color: pink;
}