<button id="logout" md-button (click)="logout()">logout</button>
<a (click)="isTrue = true">students</a>
<a (click)="isTrue = false">company</a>
<p *ngIf = "isTrue then student;else company"></p>
<!-- <button (click)="users">students</button> -->


<ng-template #student>
<div id="company">

  <h2>STUDENTS</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>CGPA</th>
        <th>Qualification</th>
        <th>Program</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let st of arrystudent; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{st.name}}</td>
        <td>{{st.cgpa}}</td>
        <td>{{st.qualification}}</td>
        <td>{{st.program}}</td>
        <td>{{st.contact}}</td>
         <td><button type="button" class="btn btn-danger btn-sm center-block" data-target="#detailModal" data-toggle="modal" (click)="deleteValue(i)">Remove</button></td> 
        <!-- <td><button type="button"  class="btn btn-success btn-sm center-block"  data-target="#detailModal" data-toggle="modal" (click)="showDetail(i)">Detail</button></td>     -->

      </tr>
    </tbody>

  </table>
</div>
</ng-template>


<ng-template #company>

<div id="company">

  <h2>Company</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>services</th>
        <th>address</th>
        <th>contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ct of keys; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ct.companyname}}</td>
        <td>{{ct.mainservices}}</td>
        <td>{{ct.address}}</td>
        <td>{{ct.contact}}</td>
        <td><button type="button" class="btn btn-success btn-danger center-block" data-target="#detailModal" data-toggle="modal"
            (click)="deleteValue1(i)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template>

<!-- <button (click)="test()">test</button> -->


<!-- 
<div id="company">

  <h2>Company</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>services</th>
        <th>address</th>
        <th>contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of ss | async; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{s.name}}</td>
        <td>{{s.password}}</td>

        <td>{{s.email}}</td>
        <td>{{s.type}}</td>
        <td><button type="button" class="btn btn-success btn-danger center-block" data-target="#detailModal" data-toggle="modal"
            (click)="deleteValue(st.$key)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div> -->